*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img
{
    
}

li{
    list-style:none;
}

body 
{
   
}

header 
{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

#photo
{   
    
    width:30%;
    background-color:yellow;
    text-align:center;
    padding-top:5%;
    padding-bottom:3%;
}

header h1
{
    font-size:4em;
    padding-top: 20%;
}

header h2
{
    
}

#nom  
{
    padding-left:10%;
    width:70%;
}

#prenom
{
    color:yellow;
}

#souligne
{
    border-bottom:2px solid yellow;
}

main
{
    display:flex;
    margin-left:10%;
    margin-right:10%;
}

#informations {
    width: 30%;
    background-color: yellow;
}

.profil
{
    width:70%;
    padding-left:10%;
}

.element
{
    display:flex;
}

footer 
{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

#loisirs {
    width: 30%;
    background-color: yellow;
}

#recommandations
{
    width:70%;
    padding-left:10%;
}